# Byte-compiled / cache
__pycache__/
*.py[cod]
*.so
*.vs/
*.conda/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environment files
.env
*.env

# Data files
data/*
!data/README.md

# Model outputs
models/*
outputs/*